@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">HEADER</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Species</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create","Bird")">Add Species</a></li>
                    <li><a href="@Url.Action("Edit","Bird")">Edit Species</a></li>
                    <li><a href="@Url.Action("Index", "Bird")">View Species</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Taxonomy</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create","Taxonomy")">Add Taxonomy</a></li>
                    <li><a href="@Url.Action("Edit","Taxonomy")">Edit Taxonomy</a></li>
                    <li><a href="@Url.Action("Index", "Taxonomy")">View Taxonomy</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Samples</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "Taxonomy")">View Samples</a></li>
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>