@model BirdsSoundsClassifier.Models.Sampling

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Sampling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Species.CommonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species.CommonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservationDuaration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservationDuaration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SamplingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
